*.o
*.swp
*.a
*.cmi
*.cmo
a.out
*.cma
*.cmxa
*.cmx
._*
pint.top
phlib/ph_parser.ml
phlib/ph_parser.mli
phlib/ph_lexer.ml
docs/*.aux
docs/*.log
docs/*.backup
docs/*.pdf
playground/test_qgamma
playground/erlang-r.pts
playground/erlang-sa.pts
playground/r_plot_erlang
playground/dsum
playground/r_gamma
bindings/r.h
bindings/r.ml
bindings/r.mli
bindings/r_stubs.c
docs/api
bin/ph*
bin/pint-*
build
build-stamp
debian/*.log
debian/tmp
debian/substvars
debian/files
bindings/Makefile.inc
tests/pinttests
*.log
*.cache
__pycache__
*.pyc
.ipynb*
