*.cmi
*.cmo
a.out
*.cma
*.cmxa
*.cmx
._*
./test
./runs
./test_pseudomonas
./pint.top
./bin/phc
./phlib/ph_parser.ml
./phlib/ph_parser.mli
./phlib/ph_lexer.ml
/dist
docs/*.aux
docs/*.log
docs/*.backup
docs/*.pdf
./playground/test_qgamma
playground/erlang-r.pts
playground/erlang-sa.pts
playground/r_plot_erlang
playground/dsum
./playground/r_gamma
./bindings/r.h
./bindings/r.ml
./bindings/r.mli
./bindings/r_stubs.c
./ph-*
docs/api/*
