div#pint-toolbar:before {
    content: "Pint";
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
}
div#pint-toolbar {
    color: red;
}
div#pint-toolbar button {
    color: red;
}
#pint_menu {
    background-color: white;
    color: red;
}
