Source: pint
Section: science
Priority: optional
Maintainer: Loic Pauleve <loic.pauleve@ens-cachan.org>
Build-Depends: debhelper (>= 4.0.0), ocaml (>= 4.0), camlidl, r-mathlib, libfacile-ocaml-dev
Standards-Version: 3.6.0

Package: pint
Architecture: amd64 i386
Depends: python (>= 2), r-mathlib, gringo
Description: Static analyzer for dynamics of Automata Networks

