Source: pint
Section: science
Priority: optional
Maintainer: Loic Pauleve <loic.pauleve@ens-cachan.org>
Build-Depends: debhelper (>= 9), python | python3
#Build-Depends: debhelper (>= 9), dh-python, ocaml (>= 4.0), ocaml-findlib, camlidl, r-mathlib, libfacile-ocaml-dev, libextlib-ocaml-dev, libzarith-ocaml-dev
Standards-Version: 3.6.0

Package: pint
Architecture: amd64
Depends: python | python3, gringo (>= 4.5)
Description: Static analyzer for dynamics of Automata Networks

